<!DOCTYPE html>
        <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Bienvenido a Pokeneas</title>
            <link rel="stylesheet" href="../public/css/image.css">
        </head>
        <body>
            <div class="container">
                <img class="pikachu" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png" alt="Pikachu" />
                <h1>¡Bienvenido a Pokeneas!</h1>
                <p>Tu API para obtener Pokeneas aleatorios y frases filosóficas.</p>
                <div class="endpoints">
                    <b>Prueba estos endpoints:</b><br>
                    <code>/pokenea/random</code> <br>
                    <code>/pokenea/image</code>
                </div>
            </div>
        </body>
        </html>