<!DOCTYPE html>
<html lang="es">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to Pokeneas</title>
  <link rel="stylesheet" href="/css/image.css" />
 </head>
 <body>
  <div class="container">
   <img
    class="pikachu"
    src="https://dgrisalesp-pokeneas-project.s3.us-east-1.amazonaws.com/pikachu.png"
    alt="Pikachu"
   />
   <h1>Welcome to Pokeneas!</h1>
   <p>This is your API to get random Pokeneas information.</p>
   <div class="endpoints">
    <b>Test these endpoints:</b><br />
    <code>/pokenea/random</code> <br />
    <code>/pokenea/image</code>
   </div>
  </div>
 </body>
</html>
