<!DOCTYPE html>
<html lang="es">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pokenea Dinámico</title>
  <link rel="stylesheet" href="/css/image.css" />
 </head>
 <body>
  <div class="container">
   <img src="<%= data.imageRoute %>" alt="<%= data.name%>" class="pikachu" />
   <h1><%= data.phrase %></h1>
   <p>
    <strong>ID de contenedor:</strong> <code><%= data.containerId %></code>
   </p>
  </div>
 </body>
</html>
